<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKOUT</title>
        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <!-- TAILWINDCSS -->
        <link rel="stylesheet" href="/css/output.css">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

</head>
<style>
    #listaProdutosCarrinho {
        max-height: calc(100vh - 339px);
        overflow-y: auto; 
    }
    .progress-bar {
        --progress: 100;
        height: 25px;
        border-radius: 25px;
        background-color: #dfdfdf;
        display: flex;
    }
    .progress-bar::before {
        border-radius: 25px;
        content: "";

        width: calc(var(--progress) * 1%);
        background-color: hsl(calc(var(--progress) * 1.2), 80%, 50%);
        transition: all 1s linear;
    }
</style>
<body class="bg-gray-100" style="background-image: url('/assets/fundo.png'); background-size: 100%;">
    <script>
        window.pedido = `<%- JSON.stringify(carrinhoProcessado).replace(/[\n\r]/g, '').replace(/\\/g, '\\\\') %>`;
    </script>
    <% 
        function stringParaReal(string) {
            let number = typeof string == 'string'? Number(string) : string;
            let fixed = typeof number == "number" ? number.toFixed(2): number
            let string2 = typeof fixed != "string" ? String(fixed) : fixed
            let real = typeof string2 == 'string' ? string2.replace('.', ',') : string2
            return real;
        }
    %>

    <!-- FORMULARIOS -->
    <section id="carrinho" class=" m-auto w-[90%] z-50 duration-300 flex flex-col justify-between max-w-screen-md space-y-4 pt-5 ">
        <!-- LISTA DE PRODUTOS NO CARRINHO -->
        <div class="text-right text-gray-700 text-xl flex flex-col rounded-lg bg-white shadow-md">
            <ul id="listaProdutosCarrinho" class="overflow-y-auto h-screen  text-xl text-left p-4  ">
                <h2 class="w-full p-4 pt-0 text-lg text-center font-light">LISTA DE PRODUTOS</h2>
                
                <!-- ITEM DA LISTA DE PRODUTOS -->
                <% if (typeof carrinhoProcessado.itens != 'undefined' && carrinhoProcessado.itens) { %>                 
                    <% carrinhoProcessado.itens.forEach(e => { %>
                 
                        <li class="border-b-2 border-c1 text-gray-700 flex items-center justify-between border-dashed pb-2  gap-2 my-2 ">
                            <div class="flex items-center justify-center space-x-2">
                                <img src="/img/<%= e.imagem  %>" alt="" class="rounded-md aspect-square w-20 drop-shadow-lg border">
                                <span class="  text-left text-sm">
                                    <%= e.nome %>
                                </span> 
                            </div>

                
                            <span class="text-right text-md w-24  flex-none text-sm ">
                                R$ <%= stringParaReal(e.preco) %> x  <%= e.qtd %> <br>
                                <span class="px-2  rounded-full bg-c1 text-white  leading-5">= R$ <%= stringParaReal(e.total) %></span>
                            </span>
                        </li>
                    <% }) %>
                <% } %>

            </ul>
        </div>


        <!-- ENDEREÇO DE ENTREGA -->
        <div class="text-xl text-left p-4 bg-white rounded-lg   shadow-md">
            <h2 class="w-full p-4 pt-0 text-lg text-center font-light">ENDEREÇO DE ENTREGA</h2>
            
            <div class="text-gray-700 text-sm   m-auto space-y-2 ">

                <div class="flex justify-between items-center space-x-4">
                    <div class="w-full">
                        <label for="">Rua: <span class="text-red-400">*</span></label><br>
                        <input id="rua" maxlength="45" type="text" class="px-2 py-1 w-full bg-gray-100" value="<%= typeof  endereco != "undefined" &&  endereco.numero ? endereco.numero :  ''  %>">
                    </div>
                    <div>
                        <label for="">Numero: <span class="text-red-400">*</span></label><br>
                        <input autocomplete="address-line2" id="numero" type="text" maxlength="5" class="bg-gray-100 focus:outline-none focus:border-c1 px-2 py-1 w-20" value="<%=  typeof  endereco != "undefined" &&  endereco.rua ? endereco.rua :  ''  %>">
                    </div>
                </div>

                <div class="w-full">
                    <label for="">Bairro: <span class="text-red-400">*</span></label><br>
                    <input autocomplete="address-level3" id="bairro" maxlength="30" type="text" class="px-2 py-1 w-full bg-gray-100" value="<%=  typeof  endereco != "undefined" &&  endereco.bairro ? endereco.bairro :  ''   %>">
                </div>

                <div class="w-full">
                 
                    <label for="">Telefone: <span class="text-red-400">*</span></label><br>
                    <input autocomplete="tel" onkeypress="mascara(this, '(##) #####-####')" maxlength="15" id="telefone" type="tel" class="px-2 py-1 w-full bg-gray-100" value="<%= typeof  endereco != "undefined" &&  endereco.telefone ? endereco.telefone :  ''   %>">
                </div>

                <div class="flex justify-between items-center space-x-4">
                    <div class="w-full">
                        <label for="">Cidade:</label><br>
                        <select id="cidade" class="px-2 py-1 w-full  bg-gray-100" value="<%= typeof  endereco != "undefined" &&  endereco.cidade ? endereco.cidade :  ''   %>">
                            <option value="Manaus" >Manaus</option>
                        </select>
                    </div>
                    <div class="w-20 ">
                        <label for="">UF:</label><br>
                        <select id="estado" class="px-2 py-1 w-full bg-gray-100" value="<%= typeof  endereco != "undefined" &&  endereco.estado ? endereco.estado :  ''   %>">
                            <option value="AM" >AM</option>
                        </select>
                    </div>
        
                </div>

                <div class="w-full">
                    <label for="">Ponto de referência:</label><br>
                    <input autocomplete="landmark" maxlength="45" id="referencia" type="text" class="px-2 py-1 w-full bg-gray-100" value="<%=  typeof  endereco != "undefined" &&  endereco.referencia ? endereco.referencia :  ''   %>">
                </div>

  
  
                <div class="pt-2 " >

                    <button onclick="salvarFormulario()" id="btnSalvarEndereco" class="hidden py-2 px-4 text-white bg-green-500 duration-200 text-lg w-full ">SALVAR </button>
                </div>
            </div>
        </div>
            
        <!-- PAGAMENTO -->
        <div class="text-xl text-left p-4 bg-white rounded-lg   shadow-md">

            <!-- METODOS DE ENTREGA -->
            <div class="space-y-2 py-4">
                <% if (typeof metodosEntrega != "undefined" && metodosEntrega) { %>
                    <% metodosEntrega.map((element, index) => { %>
                        <div class=" ps-4 border  border-gray-200 rounded py-2 ">
                            <div class="flex items-center">
                                <input  id="bordered-radio-<%= index %>" <%= index == 0 ? 'checked' : '' %> type="radio" value="<%= element.taxa %>" name="entrega" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2  ">
                                <label for="bordered-radio-<%= index %>" class="w-full ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                    <span><%= element.nome  %></span>
                                    <span class="text-gray-600 <%= Number(element.taxa) > 1 ? 'text-green-600' : '' %>">R$<%= String(element.taxa).replace('.', ',') %></span>
                                </label>
                            </div>
                            <% if (typeof element.descricao != "undefined" && element.descricao) { %>
                                <span class="text-sm text-gray-500"><%= element.descricao  %></span>
                            <% } %>
                        </div>
                    <% }) %>
                <% } %>
            </div>

            <h2 class="w-full p-4 pt-0 text-lg text-center font-light">PAGAMENTO</h2>

            <div class="flex justify-between items-center font-semibold text-gray-700">
                <h2 class="p-4 text-xl " >TOTAL: </h2>
                <h2 class="p-4 text-xl flex space-x-2" id="subtotal">
                    <span>R$ <%= stringParaReal(carrinhoProcessado.total) %></span>
                    <span id="adicionalEntrega" class="block text-green-600 text-sm">+ R$10,00</span>
                </h2>
            </div>

            <button id="btnPagar" onclick="pagar(this, '<%= stringParaReal(carrinhoProcessado.total) %>')" class="bg-gradient-to-l bg-c1 rounded-md px-4 py-2 w-full font-semibold text-white my-2 flex items-center justify-center space-x-4">
                <img src="/icons/logo-pix-520x520.png" alt="" class="w-10 drop-shadow-lg">
                <p class="text-xl leading-none drop-shadow-lg">PAGAR COM PIX</p>
            </button>
            <a class="text-center text-sm m-auto block hover:text-c1 font-light p-4" href="/">Voltar a Home</a>
        </div>


    </section>

    <!-- POPUP PAGAMENTO COM PIX -->
    <section id="sectionPix" class="hidden  max-w-screen-sm fixed top-1/2 left-1/2 p-10 bg-gradient-to-r from-cyan-100 to-blue-200 transform -translate-x-1/2 -translate-y-1/2 space-y-2  w-full ">
        <div class="flex items-center space-x-4 pt-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-check-fill text-c1" viewBox="0 0 16 16">
               <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708"/>
            </svg>
            <h2 class="text-gray-700">Pague com QR Code ou PIX copiar e colar!</h2>
        </div>
        <h2>Após a confirmação do pagamento, entraremos em contato para agendar a entrega. Por favor, <b>verifique se o seu número de contato está correto.</b> <%= typeof  endereco != "undefined" &&  endereco.telefone ? endereco.telefone :  'Não cadastrado'   %> </h2>

        <div class="progress-bar relative duration-200">
            <p id="ContadorTempo" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">3:00</p>
        </div>

        <button onclick="fecharSectionPix()" class="absolute top-2 right-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg text-red-500" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>

        <!-- IMAGEM QRCODE -->
       <img src="" alt=""  id="qrCode" class="m-auto p-1 bg-white rounded-lg ticket__qrcode-canva--desktop max-w-[90%]">
    

        <button chaveCopiarColar="" id="btnCopiarPix" onclick="copiarPix(this)" class="bg-c1 duration-300 font-semibold text-white rounded-md  w-52 flex items-center justify-center space-x-2 px-4 py-2 m-auto">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
               <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
               <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
           </svg>
            <p >COPIAR PIX</p>
        </button>


        <a href="" target="_blank" id="linkPagamento" class="bg-c4 duration-300 font-semibold text-white rounded-md  w-52 flex items-center justify-center space-x-2 px-4 py-2 m-auto">LINK DE PAGAMENTO</a>
    </section>



</body>
</html>

<script src="/js/loja/checkout.js"></script>
