<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>CHECKOUT</title>
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- TAILWINDCSS -->
      <script src="https://cdn.tailwindcss.com"></script>
    <!-- Cleave.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
</head>
<style>
    #listaProdutosCarrinho {
        max-height: calc(100vh - 339px);
        overflow-y: auto; 
    }
    .progress-bar {
        --progress: 100;
        height: 25px;
        border-radius: 25px;
        background-color: #dfdfdf;
        display: flex;
    }
    .progress-bar::before {
        border-radius: 25px;
        content: "";

        width: calc(var(--progress) * 1%);
        background-color: hsl(calc(var(--progress) * 1.2), 80%, 50%);
        transition: all 1s linear;
    }
</style>
<body class="bg-gray-100" style="background-image: url('/assets/fundo.png'); background-size: 100%;">

    <!-- FORMULARIOS -->
    <section id="carrinho" class=" m-auto w-[90%] z-50 duration-300 flex flex-col justify-between max-w-screen-md space-y-4 pt-5 ">
        <%- include('./components/checkout/listaProdutos') %>
        <%- include('./components/checkout/formEndereco') %>
        <%- include('./components/checkout/formEntrega') %>
        <%- include('./components/checkout/formPagamento') %>
    </section>

    <%- include('./components/checkout/popuPagamento.ejs') %>

</body>
</html>

<script src="/js/loja/checkout.js"></script>
