<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dadosEmpresa[0].nome_fantasia ?? 'Bem vindo' %></title>
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- TAILWINDCSS -->
    <link rel="stylesheet" href="/css/output.css">
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">


</head>
<body class="max-w-screen-md md:max-w-none m-auto relative">
    <%- include('components/aviso', {aviso: "VENDAS SOMENTE PARA REGIÃO NORTE"}) %>
    <%- include('components/navbar') %>
    <%- include('components/modal') %>
    <%- include('components/menu') %>
    <%- include('components/carrinho') %>
    <%- include('components/categorias', {data: categorias}) %>

    <!-- BANNERS -->
    <% if (typeof banners != "undefined" && banners && banners.length > 0) { %>
        <%- include('components/carroselBanner', {banners}) %>
    <% } %>

    <!-- CARROSEL DE PRODUTOS -->
    <% if (carrosel_1_data[0]) { %>
        <%- include('components/carroselProdutos', {titulo: carrosel_1_data[0].categoria, data: carrosel_1_data}) %>
    <% } %>

    <%- include('components/newsletter') %>

    <% if (typeof dadosEmpresa.instagram != "undefined" && dadosEmpresa && dadosEmpresa.length > 0) { %>
        <%- include('components/sigaNoInstagram', {data: dadosEmpresa[0]}) %>
    <% } %>

    <%- include('components/footer', {data: dadosEmpresa}) %>

    <!-- BTN WHATSAPP -->
    <% if (typeof dadosEmpresa[0].whatsapp != "undefined" && dadosEmpresa[0].whatsapp ) { %>
        <%- include('components/btnWhatsapp', {whatsapp: dadosEmpresa[0].whatsapp}) %>
    <% } %>

</body>
</html>

<script src="/js/loja/components/modal.js"></script>
<script src="/js/loja/components/carrinho.js"></script>