<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= nomeProduto ?? 'Produto' %></title>
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- TAILWINDCSS -->
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body class="relative">
    <%- include('components/aviso', {aviso: "VENDAS SOMENTE PARA REGIÃO NORTE"}) %>
    <%- include('components/navbar') %>
    <%- include('components/menu') %>
    <%- include('components/carrinho') %>

    <div class=" lg:grid lg:grid-cols-2 max-w-screen-lg m-auto md:gap-5" >
        <%- include('components/carroselImagens', { produto } ) %>
        <%- include('components/controleCompra') %>
    </div>



    <div class="max-w-screen-lg m-auto">
        <%- include('components/descricaoProduto') %>
    </div>

    <!-- BTN WHATSAPP -->
    <% if (typeof dadosEmpresa[0].whatsapp != "undefined" && dadosEmpresa[0].whatsapp ) { %>
        <%- include('components/btnWhatsapp', {whatsapp: dadosEmpresa[0].whatsapp}) %>
    <% } %>

    <%- include('components/footer', {data: dadosEmpresa}) %>
</body>
</html>

<script src="/js/loja/components/modal.js"></script>
<script src="/js/loja/components/carrinho.js"></script>
<script src="/js/loja/produto.js"></script>