<div class="flex space-x-4 items-center justify-end">
    <a href="/admin/cadastro/variante/<%= produto_id %>" class="bg-blue-500 hover:bg-blue-600 duration-200  text-white font-semibold px-4 py-2 ml-auto  mb-5 flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>
        <span>Nova Variante</span>
    </a>
    <a href="/admin/lista/produto"  class="bg-orange-500 hover:bg-orange-600 duration-200  text-white font-semibold px-4 py-2 ml-auto   mb-5 flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
            <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5"/>
        </svg>
        <span>Voltar</span>
    </a>
</div>

<section class="space-y-2 relative p-4 bg-gray-50  border shadow-lg">

    <table class="border w-full">

        <caption class="mb-2">
            <div class="flex items-center space-x-2">
                <img src="/img/<%= produto[0].imagem  %>" alt="" class="aspect-square object-cover w-20" onerror="this.onerror=null; this.src='/assets/produto-default.png'">
                <div class="text-left">
                    <h2><b>Variantes do produto:</b></h2>
                    <p><%= produto[0].nome %></p>
                </div>

            </div>
        </caption>
        
        <thead class="border text-left bg-gray-200 ">
            <tr >
                <th class="p-2">Id</th>
                <th class="p-2">Imagem</th>
                <th class="p-2">Preço</th>
                <th class="p-2">Status</th>
                <th class="p-2">Modelo</th>
                <th class="p-2">Marca</th>
                <th class="p-2">Editar</th>
            </tr>
        </thead>
        <tbody class="text-left">
            <% if (typeof variantes != "undefined" && variantes) { %>

             
                <% variantes.forEach(e => { %>             
                    <tr class="border hover:bg-gray-100">
                        <th class="p-2 border"><%= e.produto_id %></th>
                        <th class="p-2 border">
                            <img src="/img/<%= e.imagem  %>" alt="" class="aspect-square object-cover w-20" onerror="this.onerror=null; this.src='/assets/produto-default.png'">
                        </th>
                        <td class="p-2 border"><%= e.preco %></td>
                        <td class="p-2 border"><%= e.ativo == 1 ? 'Ativo' : 'Inativo'%></td>
                        <td class="p-2 border"><%= e.modelo %> z</td>
                        <td class="p-2 border"><%= e.marca %></td>
                        <td class="p-2 border">
                            <a href="/admin/edicao/variante/<%= e.variante_id %>" class="w-24 px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white flex items-center space-x-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                                <p>Editar</p>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>

            
        </tbody>
    </table>

</section>

