<% 
    function tratarNome(nome) {
        if(typeof nome != "undefined" && nome){
            return nome.toLowerCase().replace(/[^a-z0-9 ]/g, '').replace(/\s+/g, '-');
        }else{
            console.log('Erro ao tratar nome')
            return ''
        }
    }
%>

<div class="border w-56 h-96 rounded-2xl overflow-hidden text-gray-700 flex-none snap-center">
    <img 
        src="<%= typeof data.imagem !== 'undefined' && data.imagem ? '/img/' + data.imagem : '' %>" 
        alt="imagem do produto"
        onerror="this.src='assets/produto-default.png'"
        class="w-full aspect-square object-cover border-b"
    >
    <div class="p-4 flex flex-col items-center justify-around">
        <h2 class="h-[50px] overflow-hidden text-sm"><%= data.nome ?? '' %></h2>
        <h2 class="text-2xl text-gray-700 font-semibold text-center">R$ <%= typeof data.preco != 'undefine' && data.preco ? String(data.preco).replace('.', ',') : ''  %></h2>

        <div class="text-sm font-semibold font-white py-2 flex items-center justify-around w-full space-x-4 ">
            
            <a href="/produto/<%= tratarNome(data.nome)  %>" class="bg-blue-400 px-5 py-2 rounded-full  text-sm text-white  h-10 flex items-center justify-center">
                VER PRODUTO
            </a>

    
            <button 
                class="bg-white hover:bg-blue-400 border border-blue-400 hover:border-none p-2 rounded-full h-10 w-10 text-blue-400 hover:text-white leading-3 text-xl"
                onclick="modal.abrir('<%= data.variante_id%>')" 
            >
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>


<!-- }
    produto_id: 15,
    nome: 'Produto de Teste nome do produto e muito grande',
    ativo: 1,
    produto: null,
    categoria: '',
    marca: 'maraca a',
    modelo: 'modelo a',
    variante_id: 21,
    preco: '10.99',
    tamanho: '9 pol',
    quantidade: '25',
    referencia: '',
    vendas: 0,
    ean: '1231231231231',
    estoque: 3,
    custo: '0.00',
    imagem: 'Coelhos-de-Pascoa-com-IA-Fazendo-a-Nossa-Festa-3.png'
}  -->