<% 
    function tratarNome(nome) {
        return nome.toLowerCase().replace(/ /g, '-')
    }
%>
<% 
    function converterEmReal(precoString){
        const precoNumero = parseFloat(precoString);
        const formatoMoeda = new Intl.NumberFormat('pt-BR', {
            style: 'currency',
            currency: 'BRL'
        });
        return formatoMoeda.format(precoNumero);
    };
%>

<% 
    let itemParametro = data;
    delete itemParametro.descricao;
    delete itemParametro.ativo;
    delete itemParametro.produto;
    delete itemParametro.marca;
    delete itemParametro.referencia;
    delete itemParametro.vendas;
    delete itemParametro.ean;
    delete itemParametro.custo;
%>

<div class="border w-full lg:w-80 max-w-72 h-auto flex-none rounded-xl overflow-hidden text-gray-700 snap-center hover:shadow-md h duration-300 flex flex-col justify-between relative bg-white">
    <!-- TAG -->
    <% if (data.tag) { %>
        <span class="bg-c1 absolute top-1 right-1 text-c5 font-semibold px-2 rounded-full"><%= data.tag %></span>
    <% } %>

    <!-- IMAGEM -->
    <div class="relative">
        <a href="/produto/<%= tratarNome(data.nome) %>">
            <img 
                src="<%= data.imagem ? '/img/' + data.imagem : '/assets/produto-default.png' %>" 
                alt="imagem do produto"
                class="w-full  object-cover border-b aspect-square"
            >
        </a>
        <div class="px-4 py-2  flex-none">
            <!-- NOME -->
            <h2 class="text-lg lg:text-xl font-semibold overflow-hidden max-h-[58px] leading-5">
                <%= data.nome ?? '' %>
            </h2>
        </div>
    </div>

    <!-- PREÇO E BOTÕES -->
    <div class="p-2 md:p-4  pt-0">
        <!-- PREÇO -->
        <h2 class="text-center text-2xl lg:text-3xl font-bold text-gray-700 mb-2">
            <% if (data.preco_antigo) { %>
                <span class="text-lg line-through text-gray-400"><%= converterEmReal(data.preco_antigo) %></span>
            <% } %>
            <% if (data.preco) { %>
                <span class="text-primary"><%= converterEmReal(data.preco) %></span>
            <% } %>
        </h2>

        <div class="flex flex-col items-center space-y-2">
            <!-- VER PRODUTO -->
            <a href="/produto/<%= tratarNome(data.nome) %>" class="bg-c1 hover:brightness-110 hover:drop-shadow-lg duration-100  text-white w-full py-2 rounded-full text-center flex items-center justify-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
                <span>VER PRODUTO</span>
            </a>

            <!-- ADICIONAR AO CARRINHO -->
            <button onclick="carregarItemModal('<%= JSON.stringify(itemParametro) %>'), abrirModal()" class="border-2 border-c1 text-c1 hover:brightness-110 hover:drop-shadow-lg duration-100 w-full py-2 rounded-full text-center flex items-center justify-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                </svg>
                <span>CARRINHO</span>
            </button>
        </div>
    </div>
</div>