<% 
    function tratarNome(nome) {
        if(typeof nome != "undefined" && nome){
            return nome.toLowerCase().replace(/[^a-z0-9 ]/g, '').replace(/\s+/g, '-');
        }else{
            console.log('Erro ao tratar nome')
            return ''
        }
    }
%>

<div class="border w-56 h-96 rounded-2xl overflow-hidden text-gray-700 flex-none snap-center">
    <img 
        src="<%= typeof data.imagem !== 'undefined' && data.imagem ? '/img/' + data.imagem : '' %>" 
        alt="imagem do produto"
        onerror="this.src='assets/produto-default.png'"
        class="w-full aspect-square object-cover border-b"
    >
    <div class="p-4 flex flex-col items-center justify-around">
        <h2 class="h-[50px] overflow-hidden text-sm"><%= data.nome ?? '' %></h2>
        <h2 class="text-2xl text-gray-700 font-semibold text-center">R$ <%= typeof data.preco != 'undefine' && data.preco ? String(data.preco).replace('.', ',') : ''  %></h2>

        <div class="text-sm font-semibold font-white py-2 flex items-center justify-around w-full space-x-4 ">
            
            <a href="/produto/<%= tratarNome(data.nome)  %>" class="bg-blue-400 px-5 py-2 rounded-full  text-sm text-white  h-10 flex items-center justify-center">
                VER PRODUTO
            </a>

           
            <% let item = data %>
            <% delete item.descricao %>
            <button onclick="Modal.abrir('<%= JSON.stringify(item) %>')" class="bg-white hover:bg-blue-400 border border-blue-400 hover:border-none p-2 rounded-full h-10 w-10 text-blue-400 hover:text-white leading-3 text-xl">
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>
