<% if (typeof carroselProdutos != "undefined" && carroselProdutos.length > 0) { %>

    <% function gerarIdAleatorio() {
        const idAleatorio = Math.random().toString(36).substr(2, 9);
        return 'id' + idAleatorio;
    } %>

    <% carroselProdutos.forEach((carrosel, index) => { %>
        <% const id = `carrosel-${index}-${gerarIdAleatorio()}`; %>
        <% const leftId = `left-${id}`; %>
        <% const rightId = `right-${id}`; %>

        <% if (typeof carrosel.produtos != "undefined" && carrosel.produtos && carrosel.produtos.length > 0) { %>
        
            <section class="py-5 relative lg:px-14 flex items-start justify-center flex-col max-w-screen-2xl m-auto carroselProdutos" data-carrosel-id="<%= id %>">
                
                <!-- TITULO -->
                <h2 class="text-2xl lg:text-3xl text-center block font-semibold text-gray-700 space-x-2 lg:my-5 ml-5 lg:ml-0">
                    <span><%= carrosel.titulo %></span>     
                    <span class="text-c1">
                        <a href="/categoria/<%= carrosel.titulo %>" class="hover:underline text-lg">Ver mais</a>
                    </span>
                </h2>
                
                <!-- CARROSEL -->
                <div id="<%= id %>" class="flex p-5 w-full space-x-5 overflow-x-auto snap-x snap-mandatory duration-300">
                    <% carrosel.produtos.forEach(produto => { %>
                        <% if (carrosel.nome_categoria == carrosel.titulo) { %>
                            <%- include('cardProduto', { data: produto }) %>
                        <% } %>
                    <% }) %>
                </div>
                    
                <!-- BOTÕES -->
                <button id="<%= leftId %>" class="absolute top-0 left-0 z-10 px-2 h-full flex items-center justify-center text-4xl opacity-75 text-gray-500 hover:text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                </button>
                <button id="<%= rightId %>" class="absolute top-0 right-0 z-10 px-2 h-full flex items-center justify-center text-4xl opacity-75 text-gray-500 hover:text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>

            </section>
            
        <% } %>
    <% }) %>
            
                
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.carroselProdutos').forEach(section => {
                const id = section.getAttribute('data-carrosel-id');
                const leftButton = document.getElementById(`left-${id}`);
                const rightButton = document.getElementById(`right-${id}`);

                leftButton.addEventListener('click', () => {
                    const carouselElement = document.getElementById(id);
                    const scrollAmount = carouselElement.scrollLeft - 244;
                    carouselElement.scrollTo({
                        left: scrollAmount,
                        behavior: 'smooth'
                    });
                });

                rightButton.addEventListener('click', () => {
                    const carouselElement = document.getElementById(id);
                    const scrollAmount = carouselElement.scrollLeft + 244;
                    carouselElement.scrollTo({
                        left: scrollAmount,
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>

<% } %>