<% 
    function gerarIdAleatorio() {
        const idAleatorio = Math.random().toString(36).substr(2, 9);
        return 'id' + idAleatorio;
    }
    const id = gerarIdAleatorio()
    const left =  gerarIdAleatorio()
    const right =  gerarIdAleatorio()
%>

<!-- salvar produtos no localstorage -->
<script>
   const produtosSemQuebraDeLinha = `<%- JSON.stringify(data).replace(/[\n\r]/g, '').replace(/\\/g, '\\\\') %>`;
    const produtosJson = JSON.parse(produtosSemQuebraDeLinha);
    localStorage.produtos = JSON.stringify( produtosJson );
</script>

<section class="py-5 relative lg:px-14 ">
    <% if (typeof titulo != "undefined" && titulo) { %>
        <h2 class="text-2xl text-center font-semibold text-gray-700">
            <%= titulo  %>
        </h2>
    <% } %>

    <button id="<%= left %>" class=" absolute top-0 left-0 px-2  h-full  flex items-center justify-center text-4xl opacity-75 text-gray-500 hover:text-black ">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left focus:outline-none" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
    </button>
    <button id="<%= right %>" class=" absolute top-0  right-0  px-2  h-full  flex items-center justify-center text-4xl opacity-75 text-gray-500 hover:text-black ">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
    </button>
    

    <div id="<%= id  %>" class="flex p-5 w-full space-x-5 overflow-x-auto snap-x snap-mandatory duration-300">
         
        <% if (typeof data != 'undefined' && data) { %>
            <% data.forEach(produto => { %>
                <%- include('cardProduto',  {data:produto}) %>
            <% }) %>
        <% } %>
      
    </div>
</section>

<script>
    // controle de  rolagem
    document.getElementById('<%= left %>').addEventListener('click', () => {
        const ulElement = document.querySelector('#<%= id  %>');
        const scrollAmount = ulElement.scrollLeft - 244;
        ulElement.scrollTo({
            left: scrollAmount,
            behavior: 'smooth'
        });
    })
    document.getElementById('<%= right %>').addEventListener('click', () => {
        const ulElement = document.querySelector('#<%= id  %>');
        const scrollAmount = ulElement.scrollLeft + 244;
        ulElement.scrollTo({
            left: scrollAmount,
            behavior: 'smooth'
        });
    })
</script>