<footer 
    class="w-full p-5 md:p-8 lg:p-16 <%= `bg-[${paleta.c4}]` %>" 
    <% if (typeof loja !== 'undefined' && loja.fundo) { %>
        style="background-image: url('<%= '/img/loja/fundo/' + loja.fundo %>'); background-size: 50%;"
    <% } %>
>
    <div class="m-auto max-w-screen-xl">

        <!-- REDES SOCIAIS -->
        <% if (typeof redesSociais !== "undefined" && redesSociais && redesSociais.length > 0) { %>
            <h2 class="text-center text-xl font-semibold mb-5 <%= `text-[${paleta.c1}]` %> bg-white px-10 m-auto py-2 rounded-full w-72">REDES SOCIAIS</h2>
            <div class="p-4 rounded-xl flex items-end justify-center space-x-4">
                <% redesSociais.forEach(element => { %>
                    <a href="<%= element.url %>" target="_blank">
                        <img src="/assets/<%= element.nome.toLowerCase() %>.png" alt="" class="w-16 h-16 aspect-square bg-white p-1 object-cover rounded-full hover:scale-110 duration-200">
                    </a>
                <% }) %>
            </div>
            <br><hr class="border border-blue-300"><br>
        <% } %>

        <!-- ENDEREÇOS -->
        <% if (typeof enderecosLoja !== "undefined" && enderecosLoja.length > 0) { %>
            <h2 class="text-center text-xl font-semibold mb-5 <%= `text-[${paleta.c1}]` %> <%= `bg-[${paleta.c5}]` %> px-10 m-auto py-2 rounded-full w-52">UNIDADES</h2>
            <div class="bg-gray-50 p-4 rounded-xl">
                <ul class="space-y-5 grid md:grid-cols-2 md:gap-5 items-baseline">
                    <!-- MAPS -->
                    <% enderecosLoja.forEach(element => { %>
                        <%- include('maps', {data: element}) %>
                    <% }) %>
                </ul>
            </div>
            <br><hr class="border border-blue-300"><br>
        <% } %>
    
        <!-- PAGINAS  -->
        <% if (typeof paginas !== "undefined" && paginas && paginas.length > 0) { %>
            <h2 class="text-center text-xl font-semibold mb-5 <%= `text-[${paleta.c1}]` %> bg-c0 px-10 m-auto py-2 rounded-full w-40">Páginas</h2>
            <div class="bg-gray-50 p-4 rounded-xl">
                <ul class="space-y-1 text-gray-700 text-md lg:text-lg md:grid md:grid-cols-2 lg:grid-cols-3">
                    <% paginas.forEach(element => { %>
                        <li>
                            <a href="<%= element.nome_pagina.replace(/ /g, '-') %>" class="flex items-center space-x-2">
                                <svg class="<%= `text-[${paleta.c1}]` %>" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                </svg>
                                <p class="<%= `hover:text-[${paleta.c1}]` %> underline"><%= element.nome_pagina %></p>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <br><hr class="border border-blue-300"><br>
        <% } %>
    
        <% if (typeof loja !== "undefined" && loja.logo) { %>
            <img src="<%= '/img/loja/logo/' + loja.logo %>" alt="logo" class="w-[80%] m-auto max-w-80">
        <% } %>
    
        <% const cnpj = typeof loja !== "undefined" && loja.cnpj ? loja.cnpj : "" %>
        <% const nome = typeof loja !== "undefined" && loja.nome ? loja.nome.toUpperCase() : "" %>
        <% const data_criacao = typeof loja !== "undefined" && loja.data_criacao ? loja.data_criacao : "" %>
    
        <% if (cnpj && nome && data_criacao) { %>
            <p class="text-sm lg:text-normal <%= `text-[${paleta.c0}]` %> pt-5 pb-1 text-center">Copyright <%= nome %> - <%= data_criacao %> <br> <%= 'CNPJ: ' + cnpj %> <br> Todos os direitos reservados.</p>
        <% } %>
    </div>
</footer>
