<footer class="w-full p-5 bg-yellow-100 aspect-square">
    <!-- PAGINAS -->
    <ul class="space-y-1 text-gray-700">
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Quem somos</p>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Trocas</p>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Shop na Mídia</p>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Prazo de Entrega</p>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Fale conosco</p>
            </a>
        </li>
        <li>
            <a href="#" class="flex items-center space-x-2">
                <svg class="text-blue-500 "  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
                <p class="hover:text-blue-500 underline">Politica de Privacidade</p>
            </a>
        </li>

    </ul>

    <br><hr class="border border-blue-300"><br>

    <h2 class="text-center text-2xl font-semibold mb-5">Fale Conosco</h2>
    <ul class="space-y-2 ">
        <!-- EMAIL -->
        <% if (typeof data[0].email != "undefined" && data[0].email) { %>
            <li>
               <span class="mr-2">
                <i class="bi bi-envelope"></i>
                </span> 
                <a class="text-blue-700 " href="mailto:<%= data[0].email %>"><%= data[0].email %></a>
            </li>
        <% } %>

        <!-- CIDADE E UF  -->
        <% if (typeof data[0].cidade != "undefined" && data[0].cidade && typeof data[0].uf != "undefined" && data[0].uf) { %>
            <li>
                <span class="mr-2"><i class="bi bi-geo-alt"></i></span><a href="#"><%= data[0].cidade  %> - <%= data[0].uf%></a>
            </li>
        <% } %>

        <!-- MAPS -->
        <% if (typeof data[0].maps_iframe != "undefined" && data[0].maps_iframe) { %>
            <%- include('maps', {maps_iframe: data[0].maps_iframe}) %>
        <% } %>
    </ul>

    <br><hr class="border border-blue-300"><br>

    <!-- REDES SOCIAIS -->
    <h2 class="text-center text-2xl font-semibold mb-5">Siga nas redes sociais</h2>
    <div class="flex space-x-4">
        <!-- FACEBOOK -->
        <% if (typeof data[0].facebook != "undefined" && data[0].facebook) { %>         
            <a href="<%= data[0].facebook  %>" target="_blank" >
                <img src="/assets/facebook.png" alt="" class="w-14 h-14 aspect-square  object-cover rounded-full hover:scale-110 duration-200">
            </a>
        <% } %>

        <!-- INSTAGRAM -->
        <% if (typeof data[0].instagram != "undefined" && data[0].instagram) { %>
            <a href="<%= data[0].instagram %>"  target="_blank">
                <img src="/assets/instagram.png" alt="" class="w-14 h-14 aspect-square  object-cover rounded-full  hover:scale-110 duration-200">
            </a>
        <% } %>

        <!-- WHATSAPP -->
        <% if (typeof data[0].whatsapp != "undefined" && data[0].whatsapp) { %>         
            <a href="https://api.whatsapp.com/send?phone=<%= data[0].whatsapp %>" target="_blank">
                <img src="/assets/whatsapp2.png"  alt="" class="w-14 h-14 aspect-square  object-cover rounded-full  hover:scale-110 duration-200">
            </a>
        <% } %>

        <!-- TIKTOK -->
        <% if (typeof data[0].tiktok != "undefined" && data[0].tiktok) { %>         
            <a href="<%= ata[0].tiktok %>" target="_blank">
                <img src="/assets/tiktok.png"  alt="" class="w-14 h-14 aspect-square  object-cover rounded-full  hover:scale-110 duration-200">
            </a>
        <% } %>

        <!-- PINTEREST -->
        <% if (typeof data[0].pinterest != "undefined" && data[0].pinterest) { %>         
            <a href="<%= data[0].pinterest %>" target="_blank">
                <img src="/assets/pinterest.png"  alt="" class="w-14 h-14 aspect-square  object-cover rounded-full  hover:scale-110 duration-200">
            </a>
        <% } %>
    </div>

    <br><hr class="border border-blue-300"><br>
    <h2 class="text-center text-2xl font-semibold mb-5">Meios de pagamento</h2>

    <div class="flex flex-wrap space-x-2 space-y-2 items-center justify-around">
        <img src="/icons/amex@2x.png"       class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/aura@2x.png"       class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/discover@2x.png"   class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/elo@2x.png"        class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/hipercard@2x.png"  class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/mastercard@2x.png" class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/pix@2x.png"        class="w-16 h-8 object-cover" alt="icone">
        <img src="/icons/visa@2x.png"       class="w-16 h-8 object-cover" alt="icone">
    </div>

    <br><hr class="border border-blue-300"><br>

    <img src="/assets/logo.png" alt="logo" class="w-[80%] m-auto max-w-80">

    <% const cnpj =  data[0].cnpj ?? '' %>
    <% const nome_fantasia =  data[0].nome_fantasia.toUpperCase() ?? '' %>
    <% const data_criacao =  data[0].data_criacao ?? '' %>



    <% if ( nome_fantasia != ''  ) { %>
        <p class="text-sm text-gray-600 pt-10 pb-1 text-center">Copyright <%= nome_fantasia  %> - <%= data_criacao %> <br> <%= 'CNPJ: ' + cnpj %> <br> Todos os direitos reservados.</p>
    <% } %>


</footer>