<div>
    <label for="selecao" class="text-sm text-gray-600">Selecione uma opção</label>
    <select id="<%= selectId %>" class="px-4 py-2 w-full border-2 border-c1 focus:outline-none rounded-lg">
        <% if (opcoes.length > 0) { %>
            <option value="" selected disabled>Selecione uma opção</option>

            <% opcoes.map((e, index) => { %>
                <option estoque="<%= e.estoque ?? 0 %>" value="<%= e.variante_id %>" class="w-full bg-white block shadow-sm">
                    <%= index+1 %>:
                    <%= e.tamanho ? `Tamanho: ${e.tamanho}` : '' %>
                    <%= e.referencia ? ` ref: ${e.referencia}` : '' %>
                    <%= e.quantidade ? ` Qtd: ${e.quantidade}` : '' %>
                </option>
            <% }); %>

        
        <% } else { %>
            <option selected disabled >Nenhuma opção disponivel</option>
        <% } %>
    </select>
</div>
